@(message: String, user: models.account.User)

@main(message, "notFound", user) {

    <link href="@routes.Assets.at("stylesheets/error/notfound.css")" rel="stylesheet">
    <div class="hero-unit center jumbotron">
        <h1>@message</h1>
        <h1><small><span style="font-family : Tahoma, serif ; color : red ; ">Error 404</span></small></h1>
        <br />
        <p>您所请求的页面不存在。<br>
            您可以<strong>后退</strong>返回原来的页面。</p>
        <p><b>或者是点击下面的按钮返回主页</b></p>
        <a href="@routes.Application.index" class="btn btn-large btn-info"><i class="icon-home icon-white"></i>回主页吧...</a>
    </div>
    @jsinclude()
}