li > a {
  color: #262626;
}

.pic {
  margin-top: 50px;
  width: 120px;
  margin-left: 50px;
  margin-bottom: -60px;
}

.panel {
  background-image: url("../../images/default-user-cover.jpg");
}

.name {
  position: absolute;
  padding-left: 200px;
  font-size: 30px;
  font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", Heiti, "黑体", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", sans-serif;
}


.table-user-information > tbody > tr {
  border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
  border-top: 0;
}

.table-user-information > tbody > tr > td {
  border-top: 0;
}

.table-user-information > tbody > tr > td:first-child {
  font-weight: bolder;
  font-size: 15px;
}

#follow-btn {
  margin: 10px;
}