.group-item {
    min-height: 88px;
}

.group-item-avatar {
    margin: 6px;
}

.group-item > .list-group-item-heading {
    margin-top: 10px;
    margin-left: 9px;
}

.user-item {
    min-height: 88px;
}

.user-item-avatar {
    margin: 6px;
}

.user-item > .list-user-item-heading {
    margin-top: 10px;
}

.list-user-item-text {
    font-size: 14px;
}

.img-circle {
    width: 55px;
    border: 3px solid #dadada;
    margin-right: 5px;
}