@(title: String, validation: Boolean, message: String = "")

@main(title, "activation", user = null) {
    <div class="jumbotron" style="text-align : center">
    @if(validation) {
        <p>邮箱验证完成，您的账户已激活。</p>
        <a href="@routes.Login.blank" class="btn btn-large btn-info">登录</a>
    } else {
        <p>邮箱验证出错！@message</p>
        <a href="@routes.Application.index" class="btn btn-large btn-info"><i class="icon-home icon-white"></i>
            回主页吧...</a>
    }
    </div>
    @jsinclude()
}