@(title: String, args: Map[String, Object])
@import models.account.User; val user = if (args == null) null else args.get("user").asInstanceOf[User]; val self = if (args == null) null else args.get("loginUser").asInstanceOf[User]

@main(title, "profile", args) {
    @includeFontAwesome()
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/account/followList.css")"/>
    <br><br>
    <div class="row jumbotron">
        @userNav("follow-list", user)
        <div class="col-md-10">
            <div class="panel">
                <img class="pic img-circle" src="@routes.Assets.at("images/default-user.jpg")" alt="用户头像">
                <div class="name"><small>@{user.userName}的关注</small></div>
            </div>
            <br><br><br>
            <div class="user-list row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="user-row">
                        <div class="pull-left">
                            <img class="img-circle" src="@routes.Assets.at("images/default-user.jpg")" alt="User Pic">
                        </div>
                        <div class="pull-left user-info">
                            <strong>Cyruxx</strong><br>
                            <span class="text-muted">User level: Administrator</span>
                        </div>
                        <div class="pull-right buttons">
                            <button class="btn btn-sm btn-primary" type="button" data-toggle="tooltip" data-original-title="发送消息">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </button>
                            <button class="btn btn-sm btn-danger" type="button" data-toggle="tooltip" data-original-title="移除关注">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-1">
                    <div class="user-row">
                        <div class="pull-left">
                            <img class="img-circle" src="@routes.Assets.at("images/default-user.jpg")" alt="User Pic">
                        </div>
                        <div class="pull-left user-info">
                            <strong>Cyruxx</strong><br>
                            <span class="text-muted">User level: Administrator</span>
                        </div>
                        <div class="pull-right buttons">
                            <button class="btn btn-sm btn-primary" type="button" data-toggle="tooltip" data-original-title="发送消息">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </button>
                            <button class="btn btn-sm btn-danger" type="button" data-toggle="tooltip" data-original-title="移除关注">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-1">
                    <div class="user-row">
                        <div class="pull-left">
                            <img class="img-circle" src="@routes.Assets.at("images/default-user.jpg")" alt="User Pic">
                        </div>
                        <div class="pull-left user-info">
                            <strong>Cyruxx</strong><br>
                            <span class="text-muted">User level: Administrator</span>
                        </div>
                        <div class="pull-right buttons">
                            <button class="btn btn-sm btn-primary" type="button" data-toggle="tooltip" data-original-title="发送消息">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </button>
                            <button class="btn btn-sm btn-danger" type="button" data-toggle="tooltip" data-original-title="移除关注">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @includeCommonJS()
    <script src="@routes.Assets.at("javascripts/account/followList.js")"></script>
}