@(message: String)

@main(message, "login", login = false) {

    <link href="@routes.Assets.at("stylesheets/account/login.css")" rel="stylesheet">

    <div class="jumbotron">
        <div class="form-container">

            <form class="form-login" role="form" onsubmit="return false;">
                <h2 class="form-login-heading">登录</h2>
                <input type="email" class="form-control" id="email" placeholder="Email地址"
                    maxlength="255" required autofocus>
                <input type="password" class="form-control" id="pwd" placeholder="密码" required>
                <label class="checkbox">
                    <input type="checkbox" value="remember-me" checked=true> 自动登录
                </label>
                <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="login()">登录</button>
            </form>

        </div> <!-- /form-container -->

    </div>

    @jsinclude()
    <script src="@routes.Assets.at("javascripts/account/login.js")"></script>

}
