@(title: String, args: Map[String, Object], profileForm: Form[models.account.User])
@import helper._
@import models.account.User; val user = if (args == null) null else args.get("user").asInstanceOf[User]

@main(title, "profile", args) {
    @includeFontAwesome()
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/account/profileEdit.css")"/>
    <br><br>
    <div class="row jumbotron">
        @userNav("profile", user)
        <div class="col-md-10">
            @userBanner(user, "资料")
            <br><br><br>
            <div class="form-container row">
                <div class="col-md-10 col-md-offset-1">
                    @form(action = routes.Account.submit(), 'class -> "form-edit form-horizontal", 'role -> "form") {
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="inputGender">性别</label>
                            <div class="col-sm-2">
                                <select class="form-control" name="gender" id="inputGender">
                                    <option value="male">男</option>
                                    <option value="female">女</option>
                                    <option value="other">其他</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAddr" class="col-sm-2 control-label">位置</label>
                            <div class="col-sm-5">
                                <input type="text" name="address" class="form-control" id="inputAddr">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputDate" class="col-sm-2 control-label">生日</label>
                            <div class="col-sm-4">
                                <input type="date" name="birthday" id="inputDate" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputSite" class="col-sm-2 control-label">个人网站</label>
                            <div class="col-sm-10">
                                <input type="url" name="website" class="form-control" id="inputSite" value="http://">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputDesc" class="col-sm-2 control-label">个人描述</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" name="description" rows="3" id="inputDesc" placeholder="50字以内简介"></textarea>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <div class="col-sm-offset-2 col-sm-10">
                                <input type="submit" class="btn btn-info" value="保存"/>
                            </div>
                        </div>
                        <input name="userId" type="hidden" value="@user.userId"/>
                    }
                </div>
            </div>
        </div>
    </div>
    @includeCommonJS()
    <script src="@routes.Assets.at("javascripts/account/followList.js")"></script>
}