@(title: String, args: Map[String, Object])
@import models.account.User;
@import models.account.Gender;
@import utils.Constant;
@import java.util.Calendar; val user = if (args == null) null else args.get("user").asInstanceOf[User]; val self = if (args == null) null else args.get("loginUser").asInstanceOf[User]

@main(title, "profile", args) {
    @includeFontAwesome()
    <link href="@routes.Assets.at("stylesheets/account/profile.css")" rel="stylesheet">
    <div class="row jumbotron">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#"><i class="fa fa-book fa-lg"></i> 资料</a></li>
                <li><a href="#"><i class="fa fa-eye fa-lg"></i> 关注</a></li>
                <li><a href="#"><i class="fa fa-group fa-lg"></i> 群组</a></li>
                <li><a href="@routes.Login.logout()"><i class="fa fa-sign-out fa-lg"></i> 注销</a></li>
            </ul>
        </div>
        <div class="col-md-10" id="main-content">
            <div class="panel">
                <img class="pic img-circle" src="@routes.Assets.at("images/default-user.jpg")" alt="用户头像">
                <div class="name"><small>@user.userName</small></div>
                @if(self != null && self.userId != user.userId) {
                    <a href="#" class="btn btn-primary pull-right" style="margin:10px;">
                        <span class="glyphicon glyphicon-plus"></span> 关注</a>
                } else {
                    <a class="btn btn-primary pull-right" href="#" style="margin:10px;">
                        <span class="glyphicon glyphicon-pencil"></span> 修改资料</a>
                }
            </div>

            <br><br><br>

            <div class="row" id="user-data">
                <div class="col-md-10 col-md-offset-1">
                    <table class="table table-striped table-responsive table-user-information">
                        <tbody>
                            <tr>
                                <td>电子邮件</td>
                                <td>@user.email</td>
                            </tr>
                            <tr>
                                <td>性别</td>
                                <td>@user.gender match {
                                    case Gender.MALE => {男}
                                    case Gender.FEMALE => {女}
                                    case _ => {其他}
                                }</td>
                            </tr>
                            <tr>
                                <td>注册时间</td>
                                <td>@user.signUp.format(Constant.DATE_FORMAT)</td>
                            </tr>
                            <tr>
                                <td>最后登录</td>
                                <td>@user.lastLogin.format(Constant.DATE_FORMAT)</td>
                            </tr>
                            <tr>
                                <td>个人网站</td>
                                <td>@user.website</td>
                            </tr>
                            <tr>
                                <td>现在时间</td>
                                <td>@Calendar.getInstance().getTime.format(Constant.DATE_FORMAT)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @includeCommonJS()
}