@(message: String, signupForm: Form[models.account.User])

@import helper._

@main(message, "signup") {

    <link href="@routes.Assets.at("stylesheets/account/signup.css")" rel="stylesheet">

    <div class="form-container">

        @form(action = routes.SignUp.submit, 'class -> "form-signup", 'role -> "form") {

            <h2 class="form-signup-heading">注册新用户</h2>

            <input type="email" name="email" class="form-control" id="email" placeholder="Email地址" required autofocus
                maxlength="255" onblur="checkemail()"><span id="emailstatus"></span>
            <input type="password" name="password" class="form-control" id="password" placeholder="密码" required>
            <label class="checkbox">
                <input type="checkbox" name="remember-me" value="remember-me"> 自动登录
            </label>
            <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>

        }

    </div> <!-- /container -->

    @jsinclude()
    <script src="@routes.Assets.at("javascripts/account/signup.js")"></script>

}
