@(title: String, args: Map[String, Object])
@import models.account.Post; val posts = if(args == null) null else args("posts").asInstanceOf[List[Post]]
@import models.account.User; val user = if(args == null) null else args("user").asInstanceOf[User]; val self = if(args == null) null else args("self").asInstanceOf[User]

@main(title, "posts", args) {
    @includeFontAwesome()
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/account/personalPage.css")"/>
    <div class="row jumbotron">
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 main-content">

                    <div class="stream-container">
                        @if(posts == null || posts.size() == 0) {
                            <p style="text-align: center">该用户没有内容哦~</p>
                        } else {
                            <ol class="stream-items">
                            @for(post <- posts) {
                                @streamItem(post.author, post)
                            }
                            </ol>
                        }
                    </div>

                </div>
            </div>
        </div>
        @userNav("posts", user, self)
    </div>
    @includeCommonJS()
}