@(nav: String, group: models.group.Group, any: Any)
@* TODO when I remove the "any" parameter, it will get a Compilation error in group.scala.html*@

<div class="col-md-2 text-center">
    <ul class="nav nav-pills nav-stacked">
        <li class="@("active".when(nav == "details"))">
            <a href="@routes.GroupFun.group(group.groupId.toString)"><i class="fa fa-bullhorn fa-lg"></i> 详情</a>
        </li>
        @*<li class="@("active".when(nav == "topics"))">*@
            @*<a href="#"><i class="fa fa-comments fa-lg"></i> 话题</a>*@
        @*</li>*@
        <li class="@("active".when(nav == "members"))">
            <a href="@routes.GroupFun.members(group.groupId.toString)"><i class="fa fa-user fa-lg"></i> 成员</a>
        </li>
    </ul>
</div>