@(nav: String, args: Map[String, Object])
@import models.account.User; val loginUser = if (args == null) null else args.get("self").asInstanceOf[User]

<div class="navbar navbar-inverse navbar-fixed-top nav-justified" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@routes.Application.index"  style="margin-right: 24px">社交网站</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="@("active".when(nav == "home"))">
                    <a href="@routes.Application.index"><span class="glyphicon glyphicon-home"></span> 主页</a>
                </li>
                @if(loginUser != null) {
                    <li class="@("active".when(nav == "group"))">
                        <a href="@routes.GroupFun.groups"><span class="glyphicon glyphicon-bullhorn"></span> 群组</a>
                    </li>
                }
            </ul>
            @if(loginUser == null) {
                <p class="navbar-text navbar-right"><a href="@routes.SignUp.blank()">注册</a></p>
                <p class="navbar-text navbar-right"><a href="@routes.Login.blank()">登录</a></p>
            } else {
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown navbar-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-user" style="color : #2aabd2"></span>
                            @loginUser.userName <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">用户功能</li>
                            <li><a href="@routes.Account.personalPage()">个人主页</a></li>
                            <li><a href="@routes.Account.user(loginUser.userId.toString)">我的发言</a></li>
                            <li><a href="@routes.Account.profile(loginUser.userId.toString)">我的详情</a></li>
                            <li><a href="@routes.Follow.list(loginUser.userId.toString)">我的关注</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">其他</li>
                            <li><a href="@routes.Login.logout()">注销</a></li>
                        </ul>
                    </li>
                </ul>
            }
        </div><!--/.nav-collapse -->
    </div>
</div>