@(user: models.account.User, isSelf: Boolean)

<div class="col-md-10 col-md-offset-1">
    <div class="user-row">
        <div class="pull-left">
            <img class="img-circle" src="@routes.Assets.at("images/default-user.jpg")" alt="用户头像">
        </div>
        <div class="pull-left user-info">
            <a href="@routes.Account.user(user.userId.toString)"><strong>@user.userName</strong><br></a>
            <span class="text-muted">@if(user.description == null || user.description == "") {
                这人太懒了，什么描述也没有 ╮（╯﹏╰）╭
            } else {
                @if(user.description.length > 15) {
                    @user.description.substring(0, 15).concat("...")
                } else {
                    @user.description
                }
            }</span>
        </div>
        @*<div class="pull-right buttons @("hidden".when(!isSelf))">*@
            @*<button class="btn btn-sm btn-primary" type="button" data-toggle="tooltip" data-original-title="发送消息">*@
                @*<span class="glyphicon glyphicon-envelope"></span>*@
            @*</button>*@
            @*<button class="btn btn-sm btn-danger" type="button" data-toggle="tooltip" data-original-title="移除关注"*@
                @*onclick="">*@
                @*<span class="glyphicon glyphicon-remove"></span>*@
            @*</button>*@
        @*</div>*@
    </div>
</div>